<div *ngIf="trainerDetail" class="trainer-detail">
  <h2>{{ trainerDetail.name }}</h2>
  <img [src]="trainerDetail.imageUrl" [alt]="trainerDetail.name" />
  <p><strong>Age:</strong> {{ trainerDetail.age }}</p>
  <p><strong>About:</strong> {{ trainerDetail.bigSnopsies }}</p>
  <h3>Pokemons:</h3>
  <ul>
    <li *ngFor="let pokemon of trainerDetail.pokemons">
      <img [src]="pokemon.imageUrl" [alt]="pokemon.name" />
      <strong>{{ pokemon.name }}</strong> ({{ pokemon.type }})
    </li>
  </ul>
</div>

<div class="averagePokemons">
  <strong>No pokemons: </strong>{{ averagePokemons| number: '1.0-0' }}
</div>
<div class="averageLevel">
  <strong>Promedio de nivel: </strong>{{ averageLevel| number: '1.0-0' }}
</div>

