<div>
  <div>
    <table>
      <thead>
        <tr>
          <th class="h4">Trainer's Name</th>
          <th class="h4">Trainer's Image</th>
          <th class="h4">Trainer's Small snapshot</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let t of trainers" class="row-table">
          <td>
            <a routerLink="['/trainer', t.id]">
              <dd>{{ t.name }}</dd>
            </a>
          </td>
          <td>
            <img [src]="t.imageUrl" alt="Trainer's Image" class="img-thumbnail" />
          </td>
          <td>
            <dd>{{ t.smallSnopsies }}</dd>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="average">
  <strong>No pokemons: </strong>{{ averagePokemons| number: '1.0-0' }}
</div>

